*
{
  margin: 0;
  box-sizing: border-box;
  /* All border sizing is for trouble shooting element spaces/margin*/
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
}

div.Main
{
  background-color: #957A67;
  font-size: 10rem;
  height: 100vh;
  width: 100%;
}

div.Title
{
  color: #C49F41;
  font-size: .28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  padding-top: 18%;

}

div.Title > p
{
   margin-bottom: 30px;
}
div.Title > p#SiteName
{
   font-size: 2em;
   font-family: 'Orbitron', sans-serif, 'Courier New', Courier, monospace;
}

#searchBar
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
}

#putGroup
{
  display: flex;
  margin-top: 5%;
}

#bar
{
  position: relative;
  /* left: 120%; */
  width: 70%;
  height: 35px;
  border-style: none;
  border-radius: 20px;
  margin-left: 15%;
}

#bar::placeholder
{
  color:brown;
  font-size: 1.32em;
}

#bar:focus
{
  outline-style: none;
  border-style: solid;
  border-width: 2px;
  border-color: #57ce13;
}

#searchButton
{
  width: 60px;
  height: 45px;
  border-radius: 10%;
  position: relative;
  bottom: 5px;
  margin-left: 3px;
}


