*
{
  margin: 0;
  box-sizing: border-box;
  /* All border sizing is for trouble shooting element spaces/margin*/
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
}

div.Main
{
  background-color: #957A67;
  font-size: 10rem;
  height: 100vh;
  width: 100%;
}

div.Title
{
  color: #C49F41;
  font-size: .28em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  padding-top: 18%;

}

div.Title > p
{
   margin-bottom: 30px;
}
div.Title > p#SiteName
{
   font-size: 2em;
   font-family: 'Orbitron', sans-serif, 'Courier New', Courier, monospace;
}

#searchBar
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
}

.bar
{
  position: relative;
  /* left: 120%; */
  width: 70%;
  /* height: 70%; */
  margin-left: 15%;
}

#putGroup
{
  margin-bottom: 530vh;
}
